parameters:
  level: 6
  paths:
    - %currentWorkingDirectory%/setup.php
    - %currentWorkingDirectory%/functions.php
    - %currentWorkingDirectory%/maint.php
  excludePaths:
    - vendor
    - locales
    - .git
    - .github
  bootstrapFiles:
    - %currentWorkingDirectory%/.github/.phpstan-bootstrap.php